<div class="card bg-dark text-light">
  <div class="card-header">
    <h1 class="card-title text-center">Perfil personal</h1>
    <p class="text-center">Datos especificos del usuario</p>
  </div>
  <div class="card-body">
    <p>email: {{user.email}}</p>
    <p>desde: {{user.createdAt}}</p>
  </div>
</div>